<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="io.playseek.plugin.pedometer">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <receiver android:name="io.playseek.plugin.pedometer.PedometerRebootBroadcastReceiver"
                  android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service
                android:name=".PedometerService"
                android:enabled="true"
                android:exported="true"/>
    </application>
</manifest>
